{% extends 'Sbike/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<h2>StateBike -  v1.0</h2>
<font size=3>
StateBike is a system to manage a bike network of stations of public use.
<br>
There will be one person called the Administrator of the system, who will be capable of access the administrative part of the system. 
<br>
Through the graphical interface, she or he will be able to obtain information about the rentals, bikes or general statistical data about one station.
<br>
Plus, the Administrator will be able to modify all this information.
<br>
Each bike station will have its own employee, although one employee can have several stations to him or herself. 
<br>
The employee will access his or her part of the system, which he or she will be able to notify a repaired bike through.
<br>
Any person will be capable of creating his or her own user by turning up in a station and presenting the corresponding documents.
<br>
A registered user will be able to rent a bike by logging into the system and entering her or his username and password.
</font>

{% endblock content%}