{% extends 'Sbike/base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<h2>StateBike - Team</h2>
<font size=3>
<br>
<strong>Andrea Santos Yapura</strong> - andiyapura@gmail.com
<br>
<strong>Melisa Bonias</strong> - mel.bonias@gmail.com
<br>
<strong>Daniel Bustos</strong> - dtbustos@gmail.com
<br>
<strong>Lautaro Fernadez Artico</strong> - fernandezarticolautaro@gmail.com
<br>
<strong>Lucas Astrada</strong> - lucas_astrada11@hotmail.com
<br>
<strong>Nicolas Bonader</strong> - neb0113@famaf.unc.edu.ar


</font>

{% endblock content%}